# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
project_venv/
*.egg-info/
dist/
build/
*.egg

# Flask
instance/
*.sqlite3
*.db
*.sqlite

# Environment
.env
*.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter / notebooks
.ipynb_checkpoints/