# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
project_venv/
*.egg-info/
dist/
build/
*.egg

# Flask
instance/
*.sqlite3
*.db
*.db.bak
*.sqlite

# Environment
.env
*.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter / notebooks
.ipynb_checkpoints/

logs/
*.log
cache/
*.pdf
*.xlsx
generated_passwords.rtf
secret_key.txt
cache/
cache/
*.sqbpro
