{% extends 'base.html' %}
{% block content %}
<h2>Edit School</h2>
<a href="{{ url_for('main.schools') }}" class="text-decoration-none mb-3 d-inline-block">← Back to Schools</a>
<form method="POST" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label>School Name</label>
        <input type="text" name="name" value="{{ school.name }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Type</label>
        <select name="type" class="form-select">
            <option value="Public" {% if school.type == 'Public' %}selected{% endif %}>Public</option>
            <option value="Private" {% if school.type == 'Private' %}selected{% endif %}>Private</option>
        </select>
    </div>
    <button class="btn btn-primary">Update</button>
</form>
{% endblock %}